<style>
  h1 {
    color: blue;
  }
</style>
<h1>Inicio</h1>
<app-mi-primer-componente
  [titulo]="arregloObjetos[0].apellido"
  [textoImagen]="arregloObjetos[0].nombre"
  textoBotonSuma="+"
  textoBotonResta="-"
  textoBotonDivision="/"
  textoBotonMultiplicacion="*"
  [imagen]="arregloObjetos[0].comida"
></app-mi-primer-componente>
<app-mi-primer-componente
  [titulo]="arregloObjetos[1].apellido"
  [textoImagen]="arregloObjetos[1].nombre"
  textoBotonSuma="+"
  textoBotonResta="-"
  textoBotonDivision="/"
  textoBotonMultiplicacion="*"
  [imagen]="arregloObjetos[1].comida"
></app-mi-primer-componente>
<app-mi-primer-componente
  [titulo]="arregloObjetos[2].apellido"
  [textoImagen]="arregloObjetos[2].nombre"
  textoBotonSuma="+"
  textoBotonResta="-"
  textoBotonDivision="/"
  textoBotonMultiplicacion="*"
  [imagen]="arregloObjetos[2].comida"
></app-mi-primer-componente>
