<style>
  h1 {
    color: blue;
  }
</style>
<h1>Inicio</h1>

<h2>PIPES!</h2>
{{fecha | date:'yyyy/MM/dd'}}
{{sueldo | currency}}
{{universidad | uppercase}}

<h2>Directivas!</h2>

<p *ngIf="true">SI</p>
<p *ngIf="false">NO</p>
<div [hidden]="true">
  ESTOY OCULTO NO ELIMINADO
</div>

<ul>
  <li *ngFor="let nombreVariable of arregloObjetos">
    <button>A</button>
    <a href="">LINK</a>
    <p>{{nombreVariable}}</p>
    <app-mi-primer-componente
      [titulo]="nombreVariable.apellido"
      [textoImagen]="nombreVariable.nombre"
      [textoBotonSuma]="nombreVariable.sueldo"
      [imagen]="nombreVariable.comida"
    ></app-mi-primer-componente>
  </li>
</ul>

