<ul> <!-- Unordered List -->
  <li>
    <a [routerLink]="['/inicio']"> <!-- Ancho/Ancla -->
      Inicio
    </a>
  </li> <!-- List Item -->
  <li>
    <a [routerLink]="['/login']">
      Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios']">
      <!-- routerloink es un ARREGLO DE SEGMENTOS URL -->
      Gestion de usuarios
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios',1,'gestion-libros']">
      Gestion de libros
    </a>
  </li>
</ul>

<router-outlet></router-outlet>

<p>Pie de pagina</p>
