<!--<table>
  <tr> &lt;!&ndash; table row &ndash;&gt;
    <th>Nombre</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Apellido</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Correo</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Password</th> &lt;!&ndash; table header &ndash;&gt;
  </tr>
  <tr> &lt;!&ndash; table row &ndash;&gt;
    <td>Adrian</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>Eguez</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>a@a.com</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>1234</td> &lt;!&ndash; table detail &ndash;&gt;
  </tr>
</table>

<table>
  <tr> &lt;!&ndash; table row &ndash;&gt;
    <th>Nombre</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Apellido</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Correo</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Password</th> &lt;!&ndash; table header &ndash;&gt;
    <th>Acciones</th> &lt;!&ndash; table header &ndash;&gt;
  </tr>
  <tr *ngFor="let usuario of usuarios"> &lt;!&ndash; table row &ndash;&gt;
    <td>{{usuario.nombre}}</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>{{usuario.apellido}}</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>{{usuario.correo}}</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>{{usuario.password}}</td> &lt;!&ndash; table detail &ndash;&gt;
    <td>
      <p-button label="EDITAR" (click)="editar(usuario)">
      </p-button>
      <p-button label="ELIMINAR" (click)="eliminar(usuario)">
      </p-button>
    </td> &lt;!&ndash; table detail &ndash;&gt;
  </tr>
</table>-->
<p-table [value]="usuariosFiltrados()" [paginator]="true" [rows]="FILAS">
  <ng-template pTemplate="caption">
    Lista de Usuarios
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Password</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <input type="text"
               pInputText
               name="nombre"
               [(ngModel)]="nombreFiltrado"/>
      </th>
      <th>
        <input type="text"
               pInputText
               name="apellido"
               [(ngModel)]="apellidoFiltrado"/>
      </th>
      <th>
        <input type="text"
               pInputText
               name="correo"
               [(ngModel)]="correoFiltrado"/>
      </th>
      <th>
        <input type="text"
               pInputText
               name="password"
               [(ngModel)]="passwordFiltrado"/>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.password}}</td>
      <td>
        <p-button label="EDITAR" (click)="editar(usuario)">
        </p-button>
        <p-button label="ELIMINAR" (click)="eliminar(usuario)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<br>

<router-outlet></router-outlet>
